@model CloudHRMS.Models.ViewModels.PayrollProcessViewModel
<script src="~/lib/jquery/dist/jquery.min.js"></script>
﻿<div>
    <h1>Payroll Process</h1>
    @if (ViewBag.info != null)
    {
        <div class="alert alert-danger">
            @ViewBag.info
        </div>
    }
    <form action="/payroll/payrollprocess" method="post">
        <div class="mb-3">
            <label for="FromDate" class="form-label">From Date</label>
            <input type="date" name="FromDate" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="ToDate" class="form-label">To Date</label>
            <input type="date" name="ToDate" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="DepartmentId" class="form-label">Department</label>
            <select name="DepartmentId" class="form-select" id="departmentId">
                <option value="x" selected>[select department]</option>
                @foreach (var d in Model.Departments)
                {
                    <option value="@d.Id">@d.Description</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="EmployeeId" class="form-label">Employee</label>
            <select name="EmployeeId" class="form-select" id="employeeId">
                <option value="x" selected>[select employee]</option>
                @foreach (var e in Model.Employees)
                {
                    <option value="@e.Id">@e.Code / @e.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Payroll Process</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>

<script>
    $('#departmentId').on('change', function () {
        var url = '/payroll/getEmployeeList';
        var departmentId = $('#departmentId').val();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: url,
            data: { departmentId: departmentId },
            success: function (res) {
                $("#employeeId").empty();
                $("#employeeId").append("<option class='form-select' value=''>-- SELECT ONE --</option>");
                $.each(res, function (i, item) {
                    // Create and append the new options into the select list
                    $("#employeeId").append("<option class='form-select' value='" + item.id + "'>" + item.name + "</option>");
                });
            },
            error: function (err) {
                alert('error while processing the request');
            }
        });
    });
</script>