@model DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
    // Retrieve chart data passed from the controller
    var chartData = ViewData["chartData"] as dynamic;
    var labels = chartData?.Labels ?? new string[] { };
    var data = chartData?.Data ?? new decimal[] { };
}
@if (User.IsInRole("HR"))
{
    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">
                                    <a href="/payroll/list"
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Payroll
                                        History</a>
                                </h3>
                                <select class="form-select form-select-sm" id="selMonths"></select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="position-relative mb-4">
                                <canvas id="payrollChart" style="max-width: 500px; max-height: 500px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header border-0">
                            <h3 class="card-title">New Staff in @DateTime.Now.ToString("MMMM") month.</h3>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-download"></i> </a>
                                <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-list"></i> </a>
                            </div>
                        </div>
                        @if (Model.NewEmployeesOfCurrentMonth.Count() > 0)
                        {
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped align-middle">
                                    <thead>
                                        <tr>
                                            <th>Staff</th>
                                            <th>Position</th>
                                            <th>DOB</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var e in Model.NewEmployeesOfCurrentMonth)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="~/theme/images/pic2.jpg" alt="MG MG "
                                                        class="rounded-circle img-size-32 me-2" />
                                                    @e.Code/@e.Name
                                                </td>
                                                <td>@e.PositionInfo</td>
                                                <td>
                                                    @e.DOB.ToString("yyyy-MM-mm")
                                                </td>
                                                <td>
                                                    <a href="/employee/list" class="text-secondary"> <i class="bi bi-search"></i> </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <h3>There is no new Staff in this month.</h3>
                        }
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Sales</h3>
                                <a href="javascript:void(0);"
                                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View
                                    Report</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="fw-bold fs-5">$18,230.00</span> <span>Sales Over Time</span>
                                </p>
                                <p class="ms-auto d-flex flex-column text-end">
                                    <span class="text-success"> <i class="bi bi-arrow-up"></i> 33.1% </span>
                                    <span class="text-secondary">Since Past Year</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->
                            <div class="position-relative mb-4">
                                <div id="sales-chart"></div>
                            </div>
                            <div class="d-flex flex-row justify-content-end">
                                <span class="me-2">
                                    <i class="bi bi-square-fill text-primary"></i> This year
                                </span>
                                <span> <i class="bi bi-square-fill text-secondary"></i> Last year </span>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">Online Store Overview</h3>
                            <div class="card-tools">
                                <a href="#" class="btn btn-sm btn-tool"> <i class="bi bi-download"></i> </a>
                                <a href="#" class="btn btn-sm btn-tool"> <i class="bi bi-list"></i> </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="text-success fs-2">
                                    <svg height="32" fill="none" stroke="currentColor" stroke-width="1.5"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3">
                                        </path>
                                    </svg>
                                </p>
                                <p class="d-flex flex-column text-end">
                                    <span class="fw-bold">
                                        <i class="bi bi-graph-up-arrow text-success"></i> 12%
                                    </span>
                                    <span class="text-secondary">CONVERSION RATE</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="text-info fs-2">
                                    <svg height="32" fill="none" stroke="currentColor" stroke-width="1.5"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z">
                                        </path>
                                    </svg>
                                </p>
                                <p class="d-flex flex-column text-end">
                                    <span class="fw-bold">
                                        <i class="bi bi-graph-up-arrow text-info"></i> 0.8%
                                    </span>
                                    <span class="text-secondary">SALES RATE</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->
                            <div class="d-flex justify-content-between align-items-center mb-0">
                                <p class="text-danger fs-2">
                                    <svg height="32" fill="none" stroke="currentColor" stroke-width="1.5"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z">
                                        </path>
                                    </svg>
                                </p>
                                <p class="d-flex flex-column text-end">
                                    <span class="fw-bold">
                                        <i class="bi bi-graph-down-arrow text-danger"></i>
                                        1%
                                    </span>
                                    <span class="text-secondary">REGISTRATION RATE</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const months = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        const select = document.getElementById("selMonths");
        months.forEach(month => {
            let option = document.createElement("option");
            option.value = month.toLowerCase();
            option.textContent = month;
            select.appendChild(option);
        });
        var ctx = document.getElementById('payrollChart').getContext('2d');
        var payrollChart = new Chart(ctx, {
            type: 'bar',  // Bar chart
            data: {
                labels: @Html.Raw(Json.Serialize(labels)),  // Week ranges (X-axis)
                datasets: [{
                    label: 'Total Payroll',
                    data: @Html.Raw(Json.Serialize(data)),  // Payroll amount for each week (Y-axis)
                    backgroundColor: 'blue',  // Deep bright teal background
                    borderColor: 'green',  // Solid teal border
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false, // Hide the entire legend
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,  // Ensure the Y-axis starts from zero
                        ticks: {
                            callback: function (value, index, values) {
                                return value.toFixed(0);  // Format as integer (remove decimals)
                            }
                        }
                    }
                }
            }
        });
    </script>
}
else if (User.IsInRole("EMPLOYEE"))
{
    <p>You are employee role</p>
}
else
{

    <section id="hero-banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">

                        <h2>Cloud HRMS</h2>
                        <p>This is Cloud HRMS.</p>
                        <a class="btn btn-primary btn-lg" href="#">Learn More</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--/#main-slider-->
    <section class="download-now" id="products">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Our Product</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae
                    massa <br> semper aliquam quis mattis quam.</p>
            </div>

            <div class="row">
                <div class="col-md-6 wp1 animated fadeInUp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper
                        aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut
                        euismod massa, eu eleifend ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                        eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et,
                        suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper
                        aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut
                        euismod massa, eu eleifend ipsum.</p>
                    <a href="#" class="download-btn">Download Now</a>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="features">
                            <div class="col-md-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                                <div>
                                    <i class="fa fa-futbol-o"></i>
                                </div>
                                <div class="media service-box">

                                    <div class="media-body">
                                        <h4 class="media-heading">Mobile App</h4>
                                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open
                                            platform that fosters greater</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->

                            <div class="col-md-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                                <div>
                                    <i class="fa fa-compass"></i>
                                </div>
                                <div class="media service-box">

                                    <div class="media-body">
                                        <h4 class="media-heading">Custom App</h4>
                                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open
                                            platform that fosters greater</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->

                            <div class="col-md-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                                <div>
                                    <i class="fa fa-database"></i>
                                </div>
                                <div class="media service-box">

                                    <div class="media-body">
                                        <h4 class="media-heading">E-Commerce</h4>
                                        <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod
                                            massa, eu eleifend ipsum.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->

                            <div class="col-md-6 fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div>
                                    <i class="fa fa-bar-chart"></i>
                                </div>
                                <div class="media service-box">
                                    <div class="media-body">
                                        <h4 class="media-heading">CMS App</h4>
                                        <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod
                                            massa, eu eleifend ipsum.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                        </div>
                    </div><!--/.row-->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Our Services</h2>
                <p class="wow fadeInDown">Cloud HRMS.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-futbol-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Mobile App</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that
                                    fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Custom App</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that
                                    fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">E-Commerce</h4>
                                <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa,
                                    eu eleifend ipsum.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">CMS App</h4>
                                <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa,
                                    eu eleifend ipsum.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-paper-plane-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Product Dev</h4>
                                <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa,
                                    eu eleifend ipsum.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SharePoint</h4>
                                <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa,
                                    eu eleifend ipsum.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section>

    <!--/#services-->

    <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">About Us</h2>
                <p class="wow fadeInDown">We are ProDev (Professtional Development Center)</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="images/about.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Our Company</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper
                        aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut
                        euismod massa, eu eleifend ipsum.</p>

                    <p>Nulla eu neque commodo, dapibus dolor eget, dictum arcu. In nec purus eu tellus consequat ultricies.
                        Donec feugiat tempor turpis, rutrum sagittis mi venenatis at. Sed molestie lorem a blandit congue.
                        Ut pellentesque odio quis leo volutpat, vitae vulputate felis condimentum. </p>

                    <p>Praesent vulputate fermentum lorem, id rhoncus sem vehicula eu. Quisque ullamcorper, orci adipiscing
                        auctor viverra, velit arcu malesuada metus, in volutpat tellus sem at justo.</p>


                    <a class="btn btn-primary" href="#">Learn More</a>

                </div>
            </div>
        </div>
    </section>

    <!--/#about-->


    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Our Works</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae
                    massa <br> semper aliquam quis mattis quam.</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Works</a></li>
                    <li><a href="#" data-filter=".designing">Designing</a></li>
                    <li><a href="#" data-filter=".mobile">Mobile App</a></li>
                    <li><a href="#" data-filter=".development">Development</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/01.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/01.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/02.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/02.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/03.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/03.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/04.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/04.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/05.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/05.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/06.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/06.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/07.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/07.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/theme/images/portfolio/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Project Name</h3>
                            Some description..
                            <a class="preview" href="~/theme/images/portfolio/08.jpg" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                        <h4>Lorem Ipsum</h4>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section>

    <!--/#portfolio-->

    <section id="team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Our Team</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae
                    massa <br> semper aliquam quis mattis quam.</p>
            </div>
            <div class="row" data-anim-type="fade-in-up">

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="team-wrapper">
                        <div class="team-inner" style="background-image: url('~/theme/images/team/01.jpg')">
                            <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="description">
                            <h3> John Doe</h3>
                            <h5> <strong> Founder &amp; CEO </strong></h5>
                            <p>
                                Pellentesque elementum dapibus convallis.
                                Vivamus eget finibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="team-wrapper">
                        <div class="team-inner" style="background-image: url('~/theme/images/team/02.jpg')">
                            <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="description">
                            <h3> Armani Krist</h3>
                            <h5> <strong> Manager &amp; Designer </strong></h5>
                            <p>
                                Pellentesque elementum dapibus convallis.
                                Vivamus eget finibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="team-wrapper">
                        <div class="team-inner" style="background-image: url('~/theme/images/team/03.jpg')">
                            <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="description">
                            <h3> Micellir Faeny</h3>
                            <h5> <strong> Developer &amp; Designer </strong></h5>
                            <p>
                                Pellentesque elementum dapibus convallis.
                                Vivamus eget finibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="team-wrapper">
                        <div class="team-inner" style="background-image: url('~/theme/images/team/04.jpg')">
                            <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="description">
                            <h3> Kimten Lendy</h3>
                            <h5> <strong> Developer &amp; Designer </strong></h5>
                            <p>
                                Pellentesque elementum dapibus convallis.
                                Vivamus eget finibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="business-stats">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Business Stats</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae
                    massa <br> semper aliquam quis mattis quam.</p>
            </div>

            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="business-stats" data-digit="6850" data-duration="1000"></div>
                        <strong>Clients</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="business-stats" data-digit="1465" data-duration="1000"></div>
                        <strong>Completed</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="business-stats" data-digit="4325" data-duration="1000"></div>
                        <strong>In Progress</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="business-stats" data-digit="2568" data-duration="1000"></div>
                        <strong>Revenue</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#business-stats-->
    <section class="testimonial-area" id="testimonial">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Testimonial</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae
                    massa <br> semper aliquam quis mattis quam.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <blockquote>Sontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in
                                    a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>John Bond</h5>
                                <h6>Lorem Ipsuis simply</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <blockquote>Tontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in
                                    a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>John Bond</h5>
                                <h6>Lorem Ipsuis simply</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <blockquote>Aontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in
                                    a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>John Bond</h5>
                                <h6>Lorem Ipsuis simply</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-us">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Contact Us</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae
                    massa <br> semper aliquam quis mattis quam.</p>
            </div>
        </div>
    </section>

    <!--/#contact-us-->
    <section id="contact">

        <div class="container">
            <div class="container contact-info">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="contact-form">
                            <h3>Contact Info</h3>

                            <address>
                                <strong>ProDev MM,Co,LTD</strong><br>
                                Ching Mai<br>
                                Thailand,4107<br>
                                <abbr title="Phone">P:</abbr>(+66)908 915 843
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="contact-form">

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="Message"
                                        required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#bottom-->
}